@use '../../styles/index' as *;

.Daily {
	align-items: center;
	border-bottom: 1px solid $light-gray;
	display: grid;
	grid-template-columns: 1fr 8rem 5rem;
	padding: 1rem 0;
	.temperature,
	.icon-weather {
		justify-self: center;
	}
	.icon-weather {
		height: 5.5rem;
		width: 5.5rem;
	}
	.major {
		font-size: $font-size-reg;
	}
	&:last-of-type {
		border-bottom: 0;
	}
	.high {
		margin-bottom: 0.5rem;
	}
}
