@import '../link.scss';

.Form {
	$form-radius: $md;
	position: relative;
	@include respond-above(sm) {
		align-items: end;
		column-gap: 2rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.group-input {
		background-color: $body-bg;
		@include respond-below(sm) {
			display: grid;
			grid-template-columns: auto 4rem;
			column-gap: 1rem;
			position: relative;
			z-index: 10;
		}
	}
	.group-text-input {
		align-items: center;
		border: 1px solid $light-gray;
		border-radius: $form-radius;
		display: flex;
		height: 5rem;
		position: relative;
		.label {
			background-color: $body-bg;
			left: 1rem;
			padding: 0 0.5rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all linear 100ms;
		}
		.input-text {
			background-color: $body-bg;
			border: 0;
			border-radius: $form-radius 0 0 $form-radius;
			color: $white;
			font-size: $font-size-reg;
			height: 100%;
			padding-left: 1rem;
			text-transform: capitalize;
			width: calc(100% - 8rem);
		}
		.btn {
			height: 100%;
			width: 8rem;
			&.btn-primary {
				background-color: $primary;
				border: 1px solid $primary;
				border-radius: 0 $form-radius $form-radius 0;
				color: $white;
			}
		}
		&[data-focus='true'],
		&:focus-within {
			.label {
				top: -3px;
			}
			.input-text {
				background-color: $body-bg !important;
				border: 0;
				outline: 0;
			}
		}
		.btn-clear {
			align-items: center;
			display: flex;
			.material-icons-outlined {
				background-color: $body-bg;
				color: $white;
			}
		}
	}
	.btn-expansion {
		align-items: center;
		background-color: transparent;
		border: 1px solid $gray;
		border-radius: $form-radius;
		color: $light-gray;
		display: flex;
		height: 5rem;
		justify-content: center;
		width: 4rem;
		.material-icons-outlined {
			font-size: 4rem;
		}
		@include respond-above(sm) {
			display: none;
		}
	}
	.fieldset {
		align-items: center;
		border-radius: $form-radius;
		display: flex;
		@include respond-below(sm) {
			position: absolute;
			top: 0;
			z-index: 1;
		}
		.group-radio-button {
			margin: 0 0.5rem;
			.label {
				align-items: center;
				display: flex;
			}
		}
		.button-radio {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid $primary;
			border-radius: 50%;
			height: 2rem;
			margin: 0 0.5rem 0 0;
			transition: 200ms all linear;
			width: 2rem;
			&:checked {
				border: 0.6rem solid $primary;
			}
		}
	}

	&[data-expansion='true'] {
		@include respond-below(sm) {
			.transitions {
				transition: all 300ms ease-in-out;
			}
			height: 12rem;
			@extend .transitions;
			.fieldset {
				opacity: 1;
				transform: translateY(5.5rem);
				@extend .transitions;
			}
		}
	}
	&[data-expansion='false'] {
		@include respond-below(sm) {
			.transitions {
				transition: all 300ms ease-in-out;
			}
			height: 5rem;
			@extend .transitions;
			.fieldset {
				opacity: 0;
				transform: translateY(-2rem);
				@extend .transitions;
			}
		}
	}
}
