@use './variables' as var;

body {
	background-color: var.$body-bg;
	color: var.$white;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 10px; // 1rem === 10px
}

.btn-no-style {
	background-color: transparent;
	border: 0;
}

.transition {
	transition: all 300ms ease-in-out;
}

// typography
.h1,
.h2,
.h3 {
	font-family: var.$monsterrat;
	margin: 0;
}
.h1 {
	font-size: var.$font-size-md;
	font-weight: 500;
}
.h2 {
	font-size: var.$font-size-sm;
	font-weight: 300;
}

.strong {
	font-weight: 500;
}
