@use '../../styles/index' as *;
.Contents {
	font-size: $font-size-sm;
	font-weight: 300;
	overflow-x: hidden;
	@include respond-above(sm) {
		display: grid;
		row-gap: 1rem;
	}

	.Main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		transition: transform 100ms ease-in-out;
		width: 200%;

		&[data-units='imperial'] {
			.unit-metric {
				display: none;
			}
		}
		&[data-units='metric'] {
			.unit-imperial {
				display: none;
			}
		}

		&[data-component='current'] {
			transform: translateX(0);
		}
		&[data-component='forecast'] {
			transform: translateX(-50%);
		}
		@include respond-above(sm) {
			column-gap: 2rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			&[data-component='forecast'],
			&[data-component='current'] {
				transform: translateX(0);
			}
		}
	}
}
