@import '../styles/variables.scss';

.Form {
	display: grid;
	.MuiFormLabel-root {
		color: $white;
		font-size: $font-size-reg;
	}
	.MuiFormControlLabel-label {
		color: $white;
		font-size: $font-size-reg;
	}
	.input-text {
		color: $white;
	}
}
