@import './styles/variables.scss';

.App {
	border: 1px solid $gray;
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	@include respond-above(sm) {
		max-width: 100rem;
	}
	.app-title {
		display: none;
		@include respond-above(sm) {
			display: block;
			font-family: $monsterrat;
			font-size: $font-size-md;
			font-weight: 300;
			margin: 0;
		}
	}
}
