@import './styles/variables.scss';

.App {
	border: 1px solid $gray;
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	@include respond-above(md) {
		max-width: 100rem;
	}
	h1 {
		font-family: $monsterrat;
		font-size: $font-size-md;
		font-weight: 300;
		margin: 0;
	}
}
