@import '../link.scss';

.Temperature {
	align-self: start;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: main;
	padding-right: 1rem;
	text-align: right;
	.major {
		font-size: $font-size-xl;
		line-height: 1;
	}
	.minor {
		font-size: $font-size-sm;
	}
}
