@import '../link.scss';

.Weather {
	color: $primary;
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	.major {
		font-size: 8rem;
		font-weight: 300;
		line-height: 1;
	}
	.minor {
		font-size: $font-size-md;
	}
}
